<a href="https://colab.research.google.com/github/lydiadolan/BTE320-class-assignments/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calculate surface area cylinder
pi = 3.14 # Pi
r = 3 # Radius
h = 10 # Height

# Calc area
Area = 2 * pi * r * h + 2 * pi * r ** 2
# Display result on screen
print (Area)

244.92000000000002

In [ ]:
play = input('Continue playing? (yes or no):')

while play == 'yes':

  p1 = input('Enter player 1 move (r->rock, p->paper, s->scissors):')
  p2 = input('Enter player 2 move (r->rock, p->paper, s->scissors):')

  if p1 == p2:
    print('Draw')
  elif p1 == 'r':
    if p2 == 'p':
      print('Player 2 wins')
    if p2 == 's':
      print('Player 1')
  elif p1 == 'p':
    if p2 == 'r':
      print('Player 1 wins')
    if p2 == 's':
     print('Player 2 wins')
  elif p1 == 's':
    if p2 == 'r':
      print('Player 2 wins')
    if p2 == 'p':
     print('Player 1 wins')
  play = input('Continue playing? (yes or no):')

Continue playing? (yes or no):yes
Enter player 1 move (r->rock, p->paper, s->scissors):r
Enter player 2 move (r->rock, p->paper, s->scissors):p
Player 2 wins
Continue playing? (yes or no):no

In [ ]:
n1 = float(input('Enter number 1:'))
n2 = float(input('Enter number 2:'))
symbol = input('Enter symbol (+, -, *, /, **):')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

Enter number 1:2
Enter number 2:3
Enter symbol (+, -, *, /, **):**
8.0

In [ ]:
flat_rate = 5
hourly_rate = 2.5
Minimum_fee = 10
Maximum_fee = 20

for i in range(1,9):
  charge = flat_rate + i * hourly_rate
  if charge < Minimum_fee:
    charge = Minimum_fee
  elif charge > Maximum_fee:
    charge = Maximum_fee
  print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
print('Ad$', 'Profit')

for ad in range(0, 201, 25):
  additionalAttendees = round(2 * ad ** 0.5)
  profit = (20 + additionalAttendees) * 10 - ad - 200
  print(ad, ' ', profit)

Ad$ Profit
0   0
25   75
50   90
75   95
100   100
125   95
150   90
175   85
200   80

In [4]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give another value: '))
print(L)

Give a value: 1
Give another value: 4
Give another value: 3
Give another value: 6
Give another value: 3
Give another value: 0
[1, 4, 3, 6, 3]

In [6]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}