<a href="https://colab.research.google.com/github/lydiadolan/BTE320-class-assignments/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment 1: Calculate Surface Area Cylinder
pi = 3.14 # Pi
r = 3 # Radius
h = 10 # Height

# Calc area
Area = 2 * pi * r * h + 2 * pi * r ** 2
# Display result on screen
print (Area)

244.92000000000002

In [ ]:
# Assignment 3: Rock paper scissors with while loop

play = input('Continue playing? (yes or no):')

while play == 'yes':

  p1 = input('Enter player 1 move (r->rock, p->paper, s->scissors):')
  p2 = input('Enter player 2 move (r->rock, p->paper, s->scissors):')

  if p1 == p2:
    print('Draw')
  elif p1 == 'r':
    if p2 == 'p':
      print('Player 2 wins')
    if p2 == 's':
      print('Player 1')
  elif p1 == 'p':
    if p2 == 'r':
      print('Player 1 wins')
    if p2 == 's':
     print('Player 2 wins')
  elif p1 == 's':
    if p2 == 'r':
      print('Player 2 wins')
    if p2 == 'p':
     print('Player 1 wins')
  play = input('Continue playing? (yes or no):')

Continue playing? (yes or no):yes
Enter player 1 move (r->rock, p->paper, s->scissors):r
Enter player 2 move (r->rock, p->paper, s->scissors):p
Player 2 wins
Continue playing? (yes or no):no

In [ ]:
# Assignment 3: Numerical Calculator

n1 = float(input('Enter number 1:'))
n2 = float(input('Enter number 2:'))
symbol = input('Enter symbol (+, -, *, /, **):')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

Enter number 1:2
Enter number 2:3
Enter symbol (+, -, *, /, **):**
8.0

In [ ]:
# Assignment 4: Parking Garage

flat_rate = 5
hourly_rate = 2.5
Minimum_fee = 10
Maximum_fee = 20

for i in range(1,9):
  charge = flat_rate + i * hourly_rate
  if charge < Minimum_fee:
    charge = Minimum_fee
  elif charge > Maximum_fee:
    charge = Maximum_fee
  print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
# Assignment 5: Movie Theater

print('Ad$', 'Profit')

for ad in range(0, 201, 25):
  additionalAttendees = round(2 * ad ** 0.5)
  profit = (20 + additionalAttendees) * 10 - ad - 200
  print(ad, ' ', profit)

Ad$ Profit
0   0
25   75
50   90
75   95
100   100
125   95
150   90
175   85
200   80

In [ ]:
# Assignment 6: List from Scratch

L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give another value: '))
print(L)

Give a value: 1
Give another value: 4
Give another value: 3
Give another value: 6
Give another value: 3
Give another value: 0
[1, 4, 3, 6, 3]

In [ ]:
# Assignment 7

months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
# Assignment 8

def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours = float(input('Enter hours parked: '))

print('Parking Fee: $', calcFee(hours))

Enter hours parked: 4
Parking Fee: $ 15.0

In [1]:
#Assignment 9: Parking Garage

def calcFee(hours, decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(f"Parking Fee: $ {fee}")

hours = float(input("Enter Hours Parked: "))
fee = calcFee(hours)
displayFee(fee)

Enter Hours Parked: 4
Parking Fee: $ 15.0

In [ ]:
# Assignment 10: Reverse Hello

def revS(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + revS(s[1:-1]) + s[0]

revS('Hello')

'olleH'

In [ ]:
# Assignment 11: Weighted Average

def wAvg(L, W):
  res = []
  for i in range(len(L)):
    res.append(L[i] * W[i])
  try:
    return sum(res) / sum(W)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except TypeError:
    print('Non-numerical objects found')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')

L = [1, 2, 3]
W = [0.1, 0.3, 0.4]
wAvg(L, W)

2.375

In [2]:
# Assignment 12: Student Class

class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

In [ ]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

s1.name

'James Bond'